<h1><%= t("sample") %></h1>

<p><%= t("hi", name: @user.name) %>,</p>
<p>
<%= t("welcome") %>
<%= t("click_active") %>
</p>

<%= link_to t("activate"), edit_account_activation_url(@user.activation_token,
  email: @user.email) %>

