<footer class="footer">
  <small>
    <%= t("footer.c1")%>
    <%= link_to t("rails_name"), t("rails_url") %>
    <%= t("footer.c2")%>
    <%= link_to t("footer.name1"), t("footer.url1") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about.h1"), about_path %></li>
      <li><%= link_to t("contact.h1"), contact_path %></li>
      <li><%= link_to t("footer.name2"), t("footer.url2") %></li>
    </ul>
  </nav>
</footer>
